<div class="container">    
    <div class="auth-form">
        <div class="left-panel"></div>
        <div class="right-panel">
            <h2>Register</h2>
            <div>
                <div class="full-name">
                    <input type="text" placeholder="Name" name="name">
                    <input type="text" placeholder="Firstname" name="firstname">
                </div>
                <input type="email" placeholder="E-mail" name="email">
                <input type="email" placeholder="E-mail confirmation" name="email-confirmation">
                <input type="password" placeholder="Password" name="password">
                <input type="password" placeholder="Password confirmation" name="password-confirmation">
            </div>
            <div class="register-btn">
                <button>Register</button>
                <p><a href="/login">Already have an account ? </a></p>
            </div>
        </div>
    </div>
</div>