<div class="container">    
    <div class="auth-form">
        <div class="left-panel"></div>
        <div class="right-panel">
            <h2>Sign in</h2>
            <div>
                <input type="email" placeholder="E-mail" name="email">
                <input type="password" placeholder="Password" name="password">
                <p class="forgot-password"><a href="https://www.google.fr">Forgot password ?</a></p>
            </div>
            <div class="login-btn">
                <button>Sign in</button>
                <p><a href="/register">New ? Create an account here !</a></p>
            </div>
        </div>
    </div>
</div>